In [1]:
2+3

5

In [2]:
50-36

14

VARIABLE: it is a place holder where we keep variety types od data where we process by writting some logics

In [3]:
a=23

In [4]:
a

23

In [5]:
payal=10

In [6]:
payal

10

RULES OF NAMING A VARIABLE: 
1.variable name must be a alphabet

In [7]:
type(payal)

int

int is a integer datatype

In [8]:
type(a)

int

In [9]:
s="pwskills"

In [10]:
s

'pwskills'

In [11]:
type(s)

str

str is string datatype
STRING: 1.it is a combinations of character
        2.string is written in between double quotation or single quotes
        3.

In [12]:
s1='this is my first python lecture'

In [13]:
s1

'this is my first python lecture'

In [14]:
type(s1)

str

In [15]:
f=232.34

In [16]:
f

232.34

In [17]:
type(f)

float

float is another datatype

In [18]:
c=3+5j

In [19]:
type(c)

complex

1.coplex is another datatype
2. we stydied in previous classes ,imaginary no. written with a notation i but in python programming language 'iota' is notation by 'j'
 c=3+5j
3.3 is real and 5 is imaginary part of this expression
 
NOTE: if u want to print real part then call "c.real" and  if u want to print imaginary then call "c.imag"

In [20]:
c.real

3.0

In [21]:
c.imag

5.0

In [22]:
b=True

In [23]:
type(b)

bool

1.bool is boolian datatype
2.when we assign a varible True or False python automatically understand it is a boolean data type
NOTE: when u write True or False first letter must be in capital letter

In [24]:
b1=False

In [25]:
b1

False

In [26]:
type(b1)

bool

In [27]:
a1=45
a2=34

In [28]:
a1+a2

79

In [29]:
a1*a2

1530

In [30]:
a1/a2

1.3235294117647058

In [31]:
a1-a2

11

In [32]:
45/34

1.3235294117647058

Q. Why we creat a variable and store data into it?

ans:- variable is used for incraese the reusability of data and to craet a reference for better undersating

In [33]:
a1,a2=34,45

In [34]:
a1

34

In [35]:
a2

45

In [36]:
a,b,c,d=354,"payal",34.56,True

In [37]:
a

354

In [38]:
b

'payal'

In [39]:
c

34.56

In [40]:
d

True

In [41]:
%a = 23

UsageError: Line magic function `%a` not found.

we can't use any special character in the first of the variable name.
only we can use underscore(_) in the first of the variable name

In [42]:
0b=23

SyntaxError: invalid binary literal (525366796.py, line 1)

In [43]:
b0=45

In [44]:
@h=3312

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1158034983.py, line 1)

In [45]:
_a=34

In [46]:
-b=5677

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3962370751.py, line 1)

In [47]:
True=45

SyntaxError: cannot assign to True (3695223232.py, line 1)

reserve keywords can't be used as variable name

In [48]:
int=345

In [49]:
int

345

In [50]:
b1=True

In [51]:
b2=False

interanally system consider true as 1 and false as 0 by use this value we can do any arithamtic operations

In [52]:
b1-b2

1

In [53]:
b1*b1

1

In [54]:
b1/b2

ZeroDivisionError: division by zero

In [ ]:
s1= "my name is payaljyoti"

In [ ]:
s1

In [ ]:
type(s1)

In [ ]:
s2="this is my first python class for data masters"

In [ ]:
s2

In [ ]:
s2='this is my first python class for data masters's'

it is showing error due to system can't undestand where the sentence end due uses of three quotes in senteces which don't give any meaning ,to correct this error see the following syntaxes

In [55]:
s2="this is my first python class for data masters's"

In [56]:
s2

"this is my first python class for data masters's"

In [57]:
s2='this is my first python class for data masters"s'

In [58]:
s2

'this is my first python class for data masters"s'

NOTES:-   To write single line comments we use '#' and for multi line comments we use '#' in each line or write three quotes(''') in the begining and three quotes in the last

e.g:-
1. #this is my python class
2. #this is my first class
   #i'm trying to learn variable declarations so far i have learnt              #int,boo,float,string,complex number
3. ''' this is my first class
    i'm trying to learn variable declarations so far i have learnt                 int,boo,float,string,complex number'''

In [59]:
s1="payal"

In [60]:
a=10

In [61]:
s1+a

TypeError: can only concatenate str (not "int") to str

In [62]:
'payal'+'jyoti'

'payaljyoti'

when we trying concatenate(additions) operation both the parties should be in the same format or in the same dattypes

In [63]:
a

10

In [64]:
type(a)

int

Q.HOW U CAN CONVERT(TYPE CASTING) INT DATATYPE TO STRING DATA TYPE  
 ANS:- ucan write str(a) or use single quotes and u can convert it

In [65]:
str(a)

'10'

In [66]:
'10'

'10'

In [67]:
s1+str(a)

'payal10'

Q.HOW TO ADD SPACE IN BETWEEN WORDS?
ANS:- e.g.
       1. "payal "+"jyoti"=payal jyoti (using space in double quoted words)
       2.s1+" "+ str(a)= payal 10

TYPE CASTING:- type casting is converting one type into another
       type casting only possible when both parties are in same datatypes

In [68]:
a

10

In [69]:
b=str(a)

In [70]:
b

'10'

In [71]:
int(b)

TypeError: 'int' object is not callable

NOTE:- Prvious syntax showing error because int is keyword and we can't used as a variable name but in this case int used before as a variable and it can't be reused again.
SOLUTIONS:- TO coreect the error we have to restart the kernel and it will work

In [72]:
s="payal"

In [73]:
int(s)

TypeError: 'int' object is not callable

In [74]:
a=2133443

 To user input

In [75]:
d= input()

 45

In [76]:
d

'45'

TO MAKING TYPECASTING(because in input functions whatever value we take as input it retun us as a string data type that's why we making the typecasting to get the exact ans)

In [77]:
d= bool(input())

 45

In [80]:
d

True

In [81]:
type(d)

bool

In [83]:
d=float(input())

 45.67

In [84]:
d

45.67

In [85]:
type(d)

float

How to extract one single character or a range of caracter from a string?
(it is also called as indexing or slicing)

INDEXING:-

In [86]:
s="payal"

whenever system is going to store payal internally ,system is trying to give forward indexing and backward indexing so forward indexing always doesn't matter what type of string and what type of line u r going to write so system will automatically give the indexing starts from zero and then it continue and in backward indexing it's always starts with -1 

so in forwar indexing              in backward indexing

    p-0                              l:  -1
    a-1                              a:  -2
    y-2                              y:  -3
    a-3                              a:  -4
    l-4                              p:  -5

In [87]:
s[0]

'p'

In [88]:
s[2]

'y'

In [89]:
s[-2]

'a'

In [90]:
s[100]

IndexError: string index out of range

In [91]:
s[-5665]

IndexError: string index out of range

if index are not available in that case we get index out of range error

In [92]:
s1="pwskills"

In [97]:
s1[5]

'l'

SLICCING:-

In [94]:
s1[0:2]

'pw'

In [95]:
s1[2:7]

'skill'

In [96]:
s1[2:8]

'skills'

NOTE:- Whenever u r doing a indexing operations in that case if indexes r not available it gives error but in slicing operation it works.

In [98]:
s1[2:900]

'skills'

In [99]:
s1[2:]

'skills'

TO GET RANDOM CGARACTER:-

In [102]:
s1[0:8:2]

'psil'

In [105]:
s1[-1:-5:-1]

'slli'

In [106]:
s1[7:3:-1]

'slli'

In [109]:
s1[7::-1]

'sllikswp'

In [111]:
s1[7:-800:-1]

'sllikswp'

In [112]:
s1[::-1]

'sllikswp'

In [116]:
s1[0]=s

TypeError: 'str' object does not support item assignment

NOTE:-  1.  in string indexing ,reassignment is not allowed
        2.  if u r not able to change any particular data in any given indexes             then data type is  called as immutability datatype. 
        e.g- string is immutability datatypes.

In [117]:
a=12

In [118]:
a=23

In [119]:
a

23