  LOGICAL OPERATOR:-

LOGICAL "AND" OPERATOR:-

In [1]:
a=10
b=20

In [2]:
((a>10)and(b>20))

False

In [3]:
((a>6)and(b>7))

True

In [4]:
print(True and True)

True

In [5]:
print(True and False)

False

In [6]:
print(False and False)

False

TRUTH TABLE FOR AND OPERATOR:-

0 0 =0
0 1 =0
1 0 =0
1 1 =1

LOGICAL "OR" OPERATOR:-

TRUTH TABLE FOR OR OPERATOR:-

0 0 =0
0 1 =1
1 0 =1
1 1 =1

In [7]:
((a>6) or (b>7))

True

In [8]:
((a>10) or (b>20))

False

In [9]:
print(True or True)

True

In [10]:
print(False or True)

True

In [11]:
print(False or False)

False

LOGICAL "NOT" OPERATORS:- it only convert 0 to 1 ,1 to 0.

a=True

In [12]:
not(a)

False

In [13]:
b=False

In [14]:
not(b)

True

BITWISE OPERATOR:- 
1.  "&"------ and 
2.  "|"------ or
3.  "^"------ xor
4.  "~"------ negation
5.  "<<"----- left shift
6.  ">>"----- right shift

In [15]:
a=10
b=4

In [16]:
bin(a)

'0b1010'

In [17]:
bin(b)

'0b100'

In [18]:
a&b

0

NOTE:- In bitwise operator to doing any opearation first u have to conert the decimal value to binary the and the start operation in between them then again convert binary no. to decimal.

in the above question a&b
 a value 10 =1010(in binary)
 b value 4  =0100(in binary)
             ----
and opertion 0000 (0000- 0 in decimal)

In [19]:
a|b

14

In [20]:
a^b

14

TRUTH TABLE FOR XOR(^):-
------------------------
0 0 =0
0 1 =1
1 0 =1
1 1 =0

In [21]:
a=10

In [22]:
~a

-11

NOTE:-  To get negation of any no. just add 1 to the given no. and change the sign of the result u get.

In [23]:
a=-10

In [24]:
~a

9

In [25]:
x=[1,2,3,4,5]

In [26]:
2 in x   #  "in" it is a membership operator.

True

In [27]:
6 in x

False

In [28]:
a=10

In [29]:
a>>1

5

RIGHT SHIFT OPERATOR:-
---------------------
Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left  ( fills 1 in the case of a negative number) as a result. Similar effect as of dividing the number with some power of two.
Example: 

Example 1:
a = 10 = 1010 (Binary)
a >> 1 = 0101 = 5
shortcut method:-in right shift if u shift 1 just devide to the given decimal no. if u shift 2 then just devide 4 to the given decimal likewise we can get the ans easily.

In [30]:
a=10

In [31]:
a<<1

20

Bitwise left shift:- Shifts the bits of the number to the left and fills 0 on voids right as a result. Similar effect as of multiplying the number with some power of two.
Example: 

Example 1:
a = 5 =  0101 (Binary)
a << 1 = 1010 = 10
a << 2 = 0100 = 20 

shortcut method:- in left shift if u shift 1 just multiply to the given decimal no. if u shift 2 then just multiply 4 to the given decimal likewise we can get the ans easily.

In [32]:
a<<2

40

In [33]:
a<<3

80

In [34]:
a>>1

5

In [35]:
a>>2

2

In [36]:
a>>3

1

In [37]:
a>>4

0

CONTROL STATEMENT:-
-------------------
1. if
2. if else
3. if elif else

In [38]:
age=17

In [39]:
if age>=18:
    print("you can drive")

In [40]:
age=23

In [41]:
if age>=18:
    print("you can drive")

you can drive

In [42]:
x=2
if x>=23:
    print("you are inside the if block")

In [43]:
x=25
if x>=23:
    print("you are inside the if block")

you are inside the if block

In [44]:
age=16
if age>=18:
    print("you can drive")
else:
    print("you can not drive")

you can not drive

In [45]:
age=34
if age>=18:
    print("you can drive")
else:
    print("you can not drive")

you can drive

In [46]:
score=75

if score>=90:
    print("Excellent performance your grade is A+ ")
elif score>=80:
    print("Excellent performance your grade is A ")
elif score>=70:
    print("Excellent performance your grade is B ")
else:
    print("Excellent performance your grade is c ")

Excellent performance your grade is B

In [47]:
score=35

if score>=90:
    print("Excellent performance your grade is A+ ")
elif score>=80:
    print("Excellent performance your grade is A ")
elif score>=70:
    print("Excellent performance your grade is B ")
else:
    print("Excellent performance your grade is c ")

Excellent performance your grade is c

In [48]:
T=int(input())
if T<0:
    print("invalid")
elif 0<=T<=5:
    print("night")
elif 6<=T<=11:
    print("morning")
elif 12<=T<=17:
    print("afternoon")
elif 18<=T<=23:
    print("evening")
else: 
    print("invalid")

 3

night

In [49]:
T=int(input())
if T<0:
    print("invalid")
elif 0<=T<=5:
    print("night")
elif 6<=T<=11:
    print("morning")
elif 12<=T<=17:
    print("afternoon")
elif 18<=T<=23:
    print("evening")
else: 
    print("invalid")

 -2

invalid

In [50]:
#find the largest no. from 3 given no.

In [51]:
num1=10
num2=20
num3=30

if(num1>=num2) and (num1>=num3):
    largest=num1
    print("largest number is",num1)
elif(num2>=num1) and (num2>=num3):
    largest=num2
    print("largest number is",num2)
else:
    largest=num3
    print("largest number is",num3)

largest number is 30

In [52]:
first = input("enter first number:")
operator = input("enter operator(+,-,*,/,%) :")
second = input("enetr second number: ")

first = int(first)
second = int(second)

if operator == "+" :
    print (first+second)
elif operator == "-" :
    print (first - second)
elif operator == "*" :
    print (first*second)
elif operator == "/" :
    print (first/second)
elif operator == "%" :
    print (first%second)
else:
    print("invalid operator")

enter first number: 23
enter operator(+,-,*,/,%) : *234
enetr second number:  12

invalid operator

In [53]:
first = input("enter first number:")
operator = input("enter operator(+,-,*,/,%) :")
second = input("enetr second number: ")

first = int(first)
second = int(second)

if operator == "+" :
    print (first+second)
elif operator == "-" :
    print (first - second)
elif operator == "*" :
    print (first*second)
elif operator == "/" :
    print (first/second)
elif operator == "%" :
    print (first%second)
else:
    print("invalid operator")

enter first number: 23
enter operator(+,-,*,/,%) : /
enetr second number:  2

11.5

In [54]:
num1 = int(input("enter a number1:"))
num2 = int(input("enter a number2:"))
op=input("enter operator:")

if op =="+" :
    print(num1+num2)
elif op =="-" :
    print(num1-num2)
elif op =="*" :
    print(num1*num2)
elif op =="%" :
    print(num1%num2)
elif op =="/" :
    print(num1/num2)
else :
    print("invalid operator")

enter a number1: 234
enter a number2: 45
enter operator: %

9

In [72]:
num1 = int(input("enter a number1:"))
num2 = int(input("enter a number2:"))
op=input("enter operator:")

if op =="+" :
    print(num1+num2)
elif op =="-" :
    print(num1-num2)
elif op =="*" :
    print(num1*num2)
elif op =="%" :
    print(num1%num2)
elif op =="/" :
    print(num1/num2)
else :
    print("invalid operator")

enter a number1: 345
enter a number2: 45
enter operator: *

15525

In [56]:
num = 10

if(num>=0):
    if num == 0:
        print("number is 0")
    else:
        print("number is positive")
else:
    print("number is negative")

number is positive

In [57]:
num = -2

if(num>=0):
    if num == 0:
        print("number is 0")
    else:
        print("number is positive")
else:
    print("number is negative")

number is negative

In [58]:
num = 0

if(num>=0):
    if num == 0:
        print("number is 0")
    else:
        print("number is positive")
else:
    print("number is negative")

number is 0

In [59]:
range(5)

range(0, 5)

In [60]:
list(range(5))

[0, 1, 2, 3, 4]

In [61]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(21,30))

[21, 22, 23, 24, 25, 26, 27, 28, 29]

In [64]:
list(range(2,12,2))

[2, 4, 6, 8, 10]

In [65]:
list(range(20,45,3))

[20, 23, 26, 29, 32, 35, 38, 41, 44]

NOTE:- in range function there are 3 parameters i.e start,stop,step("range(satrt , stop,step)) if u give one value by default it take as stop and return the start value as zero and the given ,if we give two value it take first value as start value and print the previous value(exclusive function),if we give three value third value is act like jump .

In [66]:
for i in range(5):
    print(i)

0
1
2
3
4

In [67]:
for i in range(3):
    print(i)

0
1
2

In [68]:
for i in ["a","b","c"] :
    print (i)

a
b
c

In [69]:
for x in ["a","b","c"] :
    print (x)

a
b
c

In [70]:
for i in "pwskills" :
    print(i)

p
w
s
k
i
l
l
s

In [71]:
for i in 23:
    print (i)

TypeError: 'int' object is not iterable

NOTE:- we can't loop over the integer ,expect integer everything we can loop over.

In [73]:
x={"name":"payal","city":"bhubaneswar"}

In [74]:
for i in x.values():
    print(i)

payal
bhubaneswar

In [75]:
for i in x.keys():
    print(i)

name
city

In [76]:
for i in range(2,9,3):
    print(i)

2
5
8

In [77]:
country=["india","uk","germany","america","usa"]

for ct in country:
    print(ct)

india
uk
germany
america
usa

In [78]:
country=["india","uk","germany","america","usa"]

for x in country:
    print(x)

india
uk
germany
america
usa

In [79]:
dict = {"x1":1,"x2":2,"x3":3}

In [80]:
dict.keys()

dict_keys(['x1', 'x2', 'x3'])

In [81]:
dict.values()

dict_values([1, 2, 3])

In [82]:
for i in dict:
    print(i,dict[key])

NameError: name 'key' is not defined

In [83]:
dict['x1']

1

In [84]:
dict['x3']

3

In [85]:
for i in dict.values():
    print(i)

1
2
3

In [86]:
for i in (1,2,3):
    print(i)

1
2
3

In [87]:
for i in {1,2,3}:
    print(i)

1
2
3

In [88]:
x ="pwskills"
for i in x:
    print(i)

p
w
s
k
i
l
l
s

In [89]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
print("hii")
print("pw")
print("skills")
print("ineuron")

hii
pw
skills
ineuron

In [91]:
print("hii",end ='')
print("pw",end ='')
print("skills",end ='')
print("ineuron",end ='')

hiipwskillsineuron

In [92]:
print("hii",end ='@')
print("pw",end ='#')
print("skills",end ='$')
print("ineuron",end ='!')

hii@pw#skills$ineuron!

In [93]:
for i in range(10):
    print(i,end= ' ')

0 1 2 3 4 5 6 7 8 9

In [94]:
for i in range(10):
    print(i,end= '@ ')

0@ 1@ 2@ 3@ 4@ 5@ 6@ 7@ 8@ 9@

In [95]:
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

In [96]:
for i in range(5):
    for j in range(i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [97]:
for i in range(5):
    for j in range(i+1):
        print("*")
    print()

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

In [98]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print ("*",end =" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [99]:
for i in range(4,0,-1):
    for j in range(i,0,-1):
        print ("&",end =" ")
    print()

& & & &
& & &
& &
&

NOTE:- In the above syntax outer loop is for how many line we get and inner loop is to print the character and here "end="  " " helps to give space in between them and last print statement helps to going next line after one loop is completed.

In [100]:
for i in range(1,6):
    for j in range(1,6):
        print(i*j,end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [101]:
count=1

while count<=5:
    print(count)
    count +=1  #count=count+1

1
2
3
4
5

In [102]:
count=1

while count<=5:
    print("payal")
    count +=1

payal
payal
payal
payal
payal

In [103]:
text = " "

while text != "quit":
    text =input("enter a word")
    print("you entered",text)

enter a word paya

you entered paya

enter a word jyoti

you entered jyoti

enter a word saroj

you entered saroj

enter a word quit

you entered quit

NOTE:- If u know how many times u will itearte go with for loop.
       If u don't know how many times u will itearte go with while loop.

In [104]:
age = " "

while age != 21:
    age =int(input("enter your age"))
    print("your age is",age)

enter your age 12

your age is 12

enter your age 23

your age is 23

enter your age 34

your age is 34

enter your age 21

your age is 21

In [107]:
list1 = [23,30,45,21,18]
age = 0

while age not in list1:
    age =int(input("enter your age "))
    print("invalid age")
    
else:
    print (" age is from list")

enter your age  11

invalid age

enter your age  12

invalid age

enter your age  13

invalid age

enter your age  18

invalid age
 age is from list

In [108]:
x = 5

if x > 7:

   print("A")

if x > 4:

   print("B")

B

In [109]:
x = 3

if x > 1:

   print("A")

if x > 2:

   print("B")

A
B